<!DOCTYPE html>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <head>

  <title>Christi Richmond</title>

  </head>

  <body>
    <div class = "center-body"> 
        <%= yield %>
    </div>
  </body>

<style>
.bg-4 { 
    background-color: #993366;
    color: #ffffff;
}
</style>
<center>

<footer class="w3-container w3-theme-l2 w3-padding-32">
  <p>- Christi Richmond - <br>

</center>
</footer>
</html>


